*~
*.o
TAGS
LSM
Makefile
build-stamp
config.h
config.log
config.status
git.spec
stamp-h1
version.h
debian/files
debian/git.substvars
debian/gnu-interactive-tools.substvars
debian/git
debian/gnu-interactive-tools
doc/git.html
lib/Makefile
lib/alloca.h
lib/libgnu.a
lib/.deps
lib/uniwidth/.deps
src/.deps
src/gitfm
src/gitkeys
src/gitps
src/gitview
src/gitwhich
src/gitwipe
term/gitrc.aixterm
term/gitrc.ansi
term/gitrc.common
term/gitrc.generic
term/gitrc.hft
term/gitrc.hpterm
term/gitrc.linux
term/gitrc.linux-m
term/gitrc.mach
term/gitrc.minix
term/gitrc.thix
term/gitrc.vt100
term/gitrc.vt102
term/gitrc.xterm
term/gitrc.xterm-color
