Source: gnuit
Section: utils
Priority: optional
Maintainer: Ian Beckwith <ianb@erislabs.net>
Uploaders: MJ Ray (Debian) <mjr@debian.org>
Build-Depends: libncurses-dev, libreadline5-dev, texinfo, debhelper (>= 6), autotools-dev
Standards-Version: 3.7.3
XS-DM-Upload-Allowed: yes
Vcs-Browser: http://git.savannah.gnu.org/gitweb/?p=gnuit.git
Vcs-Git: git://git.savannah.gnu.org/gnuit.git

Package: gnuit
Architecture: any
Depends: ${shlibs:Depends}
Provides: git
Replaces:  git (<< 4.9.2-1)
Conflicts: git (<< 4.9.2-1)
Description: GNU Interactive Tools, a file browser/viewer and process viewer/killer
 gnuit (GNU Interactive Tools) is a set of interactive text-mode tools,
 closely integrated with the shell.  It contains an extensible file
 system browser (similar to Norton Commander and XTree), an ASCII/hex
 file viewer, a process viewer/killer and some other related utilities
 and shell scripts.  It can be used to increase the speed and
 efficiency of most of the daily tasks such as copying and moving
 files and directories, invoking editors, compressing and
 uncompressing files, creating and expanding archives, compiling
 programs, sending mail, etc.  It looks nice, has colors (if the
 standard ANSI color sequences are supported) and is user-friendly.
 .
 One of the main advantages of gnuit is its flexibility.  It is not
 limited to a given set of commands.  The configuration file can be
 easily enhanced, allowing the user to add new commands or file
 operations, depending on its needs or preferences.

Package: git
Architecture: all
Depends: gnuit
Description: transitional dummy package which can be safely removed
 This is a transitional dummy package to pull in the renamed
 gnuit package. It can be safely removed.

