#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# customised for git by Ian Beckwith <ianb@nessie.mcc.ac.uk>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BUILDDIR=$(CURDIR)/debian/git

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g


export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# FOR AUTOCONF 2.52 AND NEWER ONLY - 
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

config.status: configure
	dh_testdir

	# force rebuild of info files, to work around fact number of info files
	# output has changed, and dpkg-source/diff ignores deleted files
	#-rm -f doc/git.info*

	# remove source files now part of gnulib in lib/ 
	#-rm -f src/fsusage.[ch] src/history.[ch] src/tilde.[ch] src/fnmatch.[ch] src/getopt.[ch]

	CFLAGS="$(CFLAGS)" ./configure --with-terminfo --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info --disable-transition $(CONFFLAGS)

build: build-stamp

build-stamp:  config.status
	dh_testdir

	$(MAKE) CFLAGS="$(CFLAGS)"

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	# Add here commands to clean up after the build process.
	-$(MAKE) distclean

	# force rebuild of info files, to work around fact number of info files
	# output has changed, and dpkg-source/diff ignores deleted files
	-rm -f doc/git.info*

	# update arch guess files
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif

	# avoid buildd timestamp problems
	touch configure.in && \
	touch Makefile.am src/Makefile.am term/Makefile.am doc/Makefile.am && \
	touch aclocal.m4 && \
	touch config.h.in && \
	touch Makefile.in src/Makefile.in term/Makefile.in doc/Makefile.in && \
	touch configure

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/git.
	$(MAKE) install DESTDIR="$(BUILDDIR)" htmldir=/usr/share/doc/git

	# install changelogs from subdirs
	install -d $(BUILDDIR)/usr/share/doc/git
	set -e ; for i in */ChangeLog; do \
		nfile=`echo $$i | sed -e 's|\(.*\)/\(.*\)|\L\2\E.\1|'`; \
		install -c $$i $(BUILDDIR)/usr/share/doc/git/$$nfile; \
		gzip -9f $(BUILDDIR)/usr/share/doc/git/$$nfile; \
	done
	touch build-stamp


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs NEWS PROBLEMS README

	mv $(BUILDDIR)/usr/bin/.gitaction debian/gitaction
	dh_installexamples debian/gitaction
	rm -f debian/gitaction

#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installinfo -n doc/git.info
	dh_installman
	dh_link
	dh_strip
	dh_compress -Xgit.html
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
